Chevysat Débito Automatico BBVA/DebitoAutomatico.PS/Web References/ServiceDebito/ServiceDebito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IdBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdBancoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCuentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FechaDebito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FechaDebitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaDebitoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanalIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanalIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanalIngresoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="IdTitularCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="IdBanco" type="xs:int" />
        <xs:element minOccurs="0" name="TipoCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CanalIngreso" type="xs:int" />
        <xs:element minOccurs="0" name="Tercero" type="xs:boolean" />
        <xs:element minOccurs="0" name="NombreTercero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdentificacionTercero" type="xs:long" />
        <xs:element minOccurs="0" name="TipoIdTercero" type="xs:int" />
        <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDebito" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="IdBanco" type="xs:int" />
        <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDebito" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarDatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaClientePrenota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaClientePrenotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaClientePrenotaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaClienteContratoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaClienteContratoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaClienteContratoDigitalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosContratoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="IdBanco" type="xs:int" />
        <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDebito" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDatosContratoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarDatosContratoDigitalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarClienteContratoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contrato" type="xs:int" />
        <xs:element minOccurs="0" name="IdBanco" type="xs:int" />
        <xs:element minOccurs="0" name="TipoCuenta" type="xs:int" />
        <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CanalIngreso" type="xs:int" />
        <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDebito" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarClienteContratoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarClienteContratoDigitalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>